
header {
    width: 1280px;
    height: 74px;
    
    /* UI Properties */
    background-color: rgba(255, 255, 255, 0.5);
    /* opacity: 0.5; */
    z-index: 9999;
}

.header_logo {
margin-top: 12.05px;
margin-left: 4px;
margin-right: 413.98px;
margin-bottom: 10px;
width: 148px;
height: 52px;

/*
background: transparent url('img/グループ 73.png') 0% 0% no-repeat padding-box;
*/
opacity: 1;
}

/*
*/
header button {
    margin-top: 26px;
    margin-bottom: 24px;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    position: absolute;
}

header .link {
    font: normal normal normal 16px/24px Meiryo;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

header #top {
}

header #about {
    margin-left: 78px;
}

header #special {
    margin-left: 204px;
}

header #basic {
    margin-left: 282px;
}

header #common {
    margin-left: 360px;
}

header #activity {
    margin-left: 438px;
}

header #question {
    margin-left: 580px;
}

.introduction {
    width: 1280px;
    height: 792px;
}