button {
    border: none;
}

.about {
    background-image: url("../img/home_background1.png");
    background-repeat: no-repeat;
    width: 1280px;
}

#about_title {
    padding-top: 132px;
    text-align: center;
    font: normal normal normal 42px/71px Hiragino Kaku Gothic ProN;
    font-weight: bold;
    letter-spacing: 0px;
    color: #262626;
    opacity: 1;
}

#about_image {
    margin-left: 30px;
    margin-top: 73px;
}

#about_text_image {
    position: absolute;
    margin-top: 94px;
    margin-left: 1018px;
}

#message_title {
    position: absolute;
    width: 610px;
    height: 147px;
    margin-top: 400px;
    margin-right: 36px;
    margin-left: 634px;
    text-align: right;
    font: normal normal normal 34px/43px Hiragino Kaku Gothic ProN;
    font-weight: bold;
    letter-spacing: 0px;
    color: #262626;
    opacity: 1;
}

#profile {
    position: absolute;
    margin-left: 436px;
    margin-top: 641px;
    width: 814px;
    height: 166px;
    background-color: rgba(0, 0, 0, 0.44);
    text-align: left;
    font: normal normal normal 14px/22px Hiragino Kaku Gothic ProN;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.message {
    width: 904px;
    height: 605px;
    margin: 156px 188px 0;
    text-align: center;
    font: normal normal bold 20px/44px YuKyokasho Yoko;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.introduction {
    width: 1280px;
    margin-top: 30px;
}

#intro_title {
    margin-bottom: 42px;
    text-align: center;
    font: normal normal normal 30px/36px MS Gothic;
    letter-spacing: 0px;
    color: #262626;
    opacity: 1;
}

.centering {
    text-align: center;
}


#intro_text {
    margin-top: 62px;
    margin-bottom: 30px;
    text-align: center;
    font: normal normal normal 20px/38px Meiryo;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

/*以下はindexと同じ*/
.course {
    width: 1280px;
}

.course .course_title {
    margin-top: 100px;
    margin-bottom: 56px;
    text-align: center;
    font: normal normal normal 30px/36px MS Gothic;
    letter-spacing: 0px;
    color: #262626;
    opacity: 1;
}

.box {
    display: inline-block;
    margin-bottom: 48px;
}

.course #spe_box {
    margin-left: 30px;
}

.course #bas_box {
    margin-left: 23px;
    margin-right: 22px;
}

.box .course_name {
    text-align: center;
    margin-top: 22px;
    font: normal normal normal 30px/36px MS Gothic;
    letter-spacing: 0px;
    color: #262626;
    opacity: 1;
}

.box .monthly {
    text-align: center;
    margin-top: 16px;
    font: normal normal normal 20px/25px Hiragino Sans;
    letter-spacing: 0px;
    color: #262626;
    opacity: 1;
}

.box .course_text {
    margin-top: 26px;
    width: 390px;
    height: 180px;
    text-align: left;
    font: normal normal normal 16px/25px Hiragino Sans;
    letter-spacing: 0px;
    color: #262626;
    opacity: 1;
}

.box .benefits {
    margin-top: 6px;
}

.course .course_button {
    text-align: center;
}

.course button {
    margin-top: 56px;
    cursor: pointer;
    width: 227px;
    height: 45px;
    background: #B12929 0% 0% no-repeat padding-box;
    font: normal normal bold 16px/24px Meiryo;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.topics {
    width: 1280px;
}

.topics .topics_title {
    margin-top: 40px;
    margin-bottom: 50px;
    text-align: center;
    font: normal normal normal 30px/36px MS Gothic;
    letter-spacing: 0px;
    color: #262626;
    opacity: 1;
}

.topics .topics_table {
    margin-left: 122px;
    margin-right: 26px;
    margin-bottom: 81px;
}

.table_line {
    display: table;
}

.block {
    display: table-cell;
}

.topics .block {
    width: 354px;
}

.topics .block img {
    margin-bottom: 17px;
}

.topics .block .table_title {
    margin-bottom: 14px;
    height: 27px;
    text-align: left;
    font: normal normal bold 18px/27px Meiryo;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.topics .block .table_text {
    margin-bottom: 20px;
    width: 328px;
    height: 81px;
    text-align: left;
    font: normal normal normal 16px/24px Meiryo;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.links {
    width: 1280px;
}

.links .banner_table{
    margin-top: 46px;
    margin-left: 126px;
}

.links .table_line {
    margin-right: 20px;
}

.banner_table .block {
    width: 328px;
    height: 118px;
    background: transparent url('../img/banner.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    text-align: center;
    vertical-align: middle;
    font: normal normal normal 30px/45px Meiryo;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.links .container {
    margin-top: 46px;
    margin-left: 126px;
    text-align: center;
}

.links .box_line{
    margin-right: 20px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 40px;

}

.links .banner_box {
    width: 328px;
    height: 118px;
    margin-right: 20px;
    background: transparent url('../img/banner.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    text-align: center;
    vertical-align: middle;
    font: normal normal normal 30px/45px Meiryo;
    letter-spacing: 0px;
    color: #FFFFFF;
    display: inline-block;
}


