.spe_top {
    background-image: url("../img/home_background1.png");
    background-repeat: no-repeat;
    width: 1280px;
    padding-bottom: 100px;
}

#course_image {
    position: absolute;
    margin-top: 94px;
    margin-right: 30px;
    margin-left: 900px;
}

#spe_banner {
    margin-top: 165px;
    margin-bottom: 109px;
}

#spe_heading {
    width: 736px;
    height: 75px;

    position: absolute;
    margin-top: 430px;
    margin-right: 30px;
    margin-left: 514px;

    padding-left: 19px;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    font: normal normal normal 42px/71px Hiragino Kaku Gothic ProN;
    font-weight: bold;
    letter-spacing: 0px;
    color: #262626;

}

.about_spe {
    width: 1280px;
}

.about_title {
    margin-top: 60px;
    margin-bottom: 40px;
    text-align: center;
    font: normal normal normal 30px/36px MS Gothic;
    letter-spacing: 0px;
    color: #262626;
    opacity: 1;
}

#about_text {
    margin-top: 45px;
    margin-left: 50px;
    width: 1180px;
    height: 144px;
    text-align: center;
    font: normal normal normal 20px/38px Meiryo;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.three_features {
    margin-top: 81px;
    margin-bottom: 30px;
}

.feature {
    width: 358px;
    text-align: center;
    display: inline-block;
}

#feature1 {
    margin-left: 52px;
}

#feature2 {
    margin-left: 51px;
    margin-right: 43px;
}

.feature_topic {
    margin-top: 45px;
    text-align: center;
    font: normal normal normal 30px/51px Hiragino Sans;
    letter-spacing: 0px;
    color: #262626;
    opacity: 1;
}

.feature_text {
    margin-top: 43px;
    text-align: left;
}

.topics {
    width: 1280px;
}

.topics .topics_title {
    margin-top: 60px;
    margin-bottom: 50px;
    text-align: center;
    font: normal normal normal 30px/36px MS Gothic;
    letter-spacing: 0px;
    color: #262626;
    opacity: 1;
}

.topics .topics_table {
    margin-left: 122px;
    margin-right: 26px;
    margin-bottom: 81px;
}

.table_line {
    display: table;
}

.block {
    display: table-cell;
}

.topics .block {
    width: 354px;
}

.topics .block img {
    margin-bottom: 17px;
}

.topics .block .table_title {
    margin-bottom: 14px;
    height: 27px;
    text-align: left;
    font: normal normal bold 18px/27px Meiryo;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.topics .block .table_text {
    margin-bottom: 20px;
    width: 328px;
    height: 81px;
    text-align: left;
    font: normal normal normal 16px/24px Meiryo;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.join {
    width: 1280px;
    text-align: center;
    margin-bottom: 84px;
}

.links {
    width: 1280px;
}

.links .banner_table{
    margin-top: 46px;
    margin-left: 126px;
}

.links .table_line {
    margin-right: 20px;
}

.banner_table .block {
    width: 328px;
    height: 118px;
    background: transparent url('../img/banner.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    text-align: center;
    vertical-align: middle;
    font: normal normal normal 30px/45px Meiryo;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.links .container {
    margin-top: 46px;
    margin-left: 80px;
    text-align: center;
}

.links .box_line{
    margin-right: 20px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 40px;

}

.links .banner_box {
    width: 328px;
    height: 118px;
    margin-right: 20px;
    background: transparent url('../img/banner.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    text-align: center;
    vertical-align: middle;
    font: normal normal normal 30px/45px Meiryo;
    letter-spacing: 0px;
    color: #FFFFFF;
    display: inline-block;
}


